* {

    margin: 0px;


}

html {
    height: 100%;
}
body {

    font-size: 16px;
}


p {
    font-family: sans-serif;
}

#nav {

    background-color: steelblue;
}

#adaptive-linebreak {

    display: none;
}


#about {

    height: 97vh;
    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000 60%, rgb(34, 34, 34)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000 60%, rgb(34, 34, 34)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000 60%, rgb(34, 34, 34)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000 60%, rgb(34, 34, 34)); /* Standard syntax */
    color: #FFF;
    background-repeat: no-repeat;
}

/*
#about-image {
    width: 200px;

    margin-left: auto;
    margin-right: auto;
}

*/
#about img {
    padding-top: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
    margin-bottom: 10px;
}



#about p {

    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#projects {

    color: #FFF;
    height: 97vh;
    background: #200; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#200 60%, rgb(34, 34, 34)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#200 60%, rgb(34, 34, 34)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#200 60%, rgb(34, 34, 34)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#200 60%, rgb(34, 34, 34)); /* Standard syntax */

    background-repeat: no-repeat;
    /*background: #545a61; */
}

#contact {

    height: 97vh;
    background: #041637; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#041637 80%, rgb(29, 37, 87)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#041637 80%, rgb(29, 37, 87)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#041637 80%, rgb(29, 37, 87)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#041637 80%, rgb(29, 37, 87)); /* Standard syntax */
    color: #FFF;
    background-repeat: no-repeat;
}
#title {
    font-size: 3em;
    text-align: center;
    font-family: arial;


}

#nav li {

    list-style: none;
    border-style: none;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;

    width: 33%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;


}

ul {
    height: 100%;
    padding: 0px;
}

.nav-focus {

    background: #fff;
    transition: 0.5s all;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }

@media (min-width: 320px) {


    #nav {
        position: fixed;

        top: 0px;
        width: 100%;
        height: 3vh;
        font-size: 1.5em;


    }

    #nav ul {

        width: 100%;
        height: 100%;

    }

    #nav li {

        width: 33.33%;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        float: left;
        height: 100%;



        }

    #about {

        margin-top: 3vh; /* The height of the header nav, change if nav changes */
    }


}


@media (min-width: 800px) {

    #adaptive-linebreak {
        display: inline;
    }
    #nav {

        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2%;

    }

    ul {
        padding: 0px;
    }
    #nav li {
        transform: none;
        color: #000;

        text-align: center;
        padding-left: 5px;

        top: 0%;
        width: 100%;
        height: 33%;
        float: none;

        word-wrap: break-word;
        letter-spacing: 0.8em;
        text-transform: uppercase;



    }


    #main {

        float: right;
        margin-left: 5%;
        width: 98%

    }

    #about {

        margin-top: 0px;
        height: 100vh;
    }

    #projects {
        height: 100vh;

    }

    #contact {
        height: 100vh;

    }

    #about p {
        width: 50%;
    }

}
